<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4"
	id="WebApp_ID" >
	
	<display-name>gdo-web</display-name>
	
	<security-constraint>		
		<display-name>gdo_backend</display-name>
		<web-resource-collection>
			<web-resource-name>GDOWEBContext</web-resource-name>			
			<url-pattern>/</url-pattern>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>	
		<auth-constraint>
			<description>GDO Back End</description>
			<role-name>GDOWEBUser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description></description>
		<role-name>GDOWEBUser</role-name>
	</security-role>
	
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>it.equitalia.gdo.web.filters.CharsetFilter</filter-class>
      <init-param>
        <param-name>requestEncoding</param-name>
        <param-value>UTF-8</param-value>
      </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	
	
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
    
  <filter-mapping>
    <filter-name>struts2</filter-name>
	<url-pattern>*.action</url-pattern>
  </filter-mapping>
	
  <listener>
	<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
	
  <welcome-file-list>
	<welcome-file>index.action</welcome-file>
  </welcome-file-list>
	
  <env-entry>
	<env-entry-name>configFilePath</env-entry-name>
	<env-entry-value>/appl</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
	 
</web-app>